body{
    font-family: 'Source Sans Pro', sans-serif;
}
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 25vh; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: rgb(0, 95, 112); /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    transition: 0.5s;
}
.sidenav img{
    background-color: rgb(0, 61, 61);
    margin-left: 10%;
}
.sidenav h2{
    text-align: center;
    color: white;
}
  /* The navigation menu links */
.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: #ebebeb;
    display: block;
}
  
  /* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    background-color:  rgb(0, 55, 65);;
    color: #f1f1f1;
}
.sidenav button{
    height: 5vh;
    width: 20vh;
    margin-left: 2.5vh;
    margin-bottom: 2vh;
    border-radius: 10px;
}
.sidenav button:hover{
    font-size: 20px;
}
  /* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}
.header{
    background-color: whitesmoke;
    margin-left: 27vh;
    height: 10vh;
    font-family: 'Source Sans Pro', sans-serif;
    align-content: center;
    box-shadow: teal;
}
.header button{
    background-color: rgb(3, 155, 140);
    color: white;
    font-size: 4vh;
    font-family:'Courier New', Courier, monospace;
    border-radius: 5px;
    margin-left: 3vh;
    margin-top: 1vh;
    text-align: center;
}
button:hover{
    font-size: 5vh;
}
.header ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: whitesmoke;
  }
  
.header li {
    float: right;
  }
  
.header  li a {
    display: block;
    color: rgb(105, 105, 105);
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 3vh;
  }
  
  /* Change the link color to #111 (black) on hover */
.header li a:hover {
    background-color: rgb(0, 151, 151);
    color: white;
}
/* div {
    margin-top: 15vh;
    /* display: flex; */
    /* flex-wrap: wrap; */
    column-rule-style: solid;
    /* column-count: 3; */
    height: 50vh;
    position: relative;
    margin-inline-start: 25vh;
    width: 85vh;
    background-color: violet;
  }
   */
  /* Create four equal columns */
  
.footer h2{
    text-align: center;
    background-color: black;
    margin-bottom: 0;
    position: absolute;
    bottom: 0;
    width: 100%;
    height:2.5rem;
    margin-top: 100vh;
}
#main-footer {
    background: #444;
    color: white;
    text-align: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  .social-icons li a i {
    padding: 1px;
    font-size: 1.1rem;
    border-radius: 50%;
  }
  .social-icons li a i:hover {
    box-shadow: 0px 0px 6px 4px lightgrey;
    transition: box-shadow 0.5s;
  }
  
  #contact-social-icon li a i {
    padding: 25px;
  }
  
  .horizontal-list {
    list-style: none;
    padding-left: 0px;
    margin: 0px;
  }
  .horizontal-list li {
    display: inline-block;
    margin: 0px 8px;
    margin-top: 15px;
    font-size: 1.5rem;
  }
  .horizontal-list li a {
    color: white;
    text-decoration: none;
  }

  .paper_layout {
    text-align: center;
    background-color: white;
    border: rgb(34, 34, 34);
    height: 40vh;
  }
  /* .paper_layout h2 {
    text-align: center;
  } */
  .container {
    height: 25vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    margin-left: 25vh;
    color: rgb(105, 105, 105);
  }
  .img_ht {
    margin-top: 0px;
    width: 20vw;
    height: 25vh;
    background-size: cover;
    border-radius: 1em;
  }
  .layout {
    margin-top: 0em;
    height: 35vh;
    width: 20vw;
    background-color: rgb(216, 216, 216);
    border-radius: 1em;
  }
.layout h3{
    font-size: 2vh;
    padding-top: 8px;
    text-align: center justify;
}
.paper_layout h2{
    font-size: 5vh;
    text-align: left;
    margin-left: 27vh;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
.table-layout{
    text-align: center;
    background-color: white;
    border: rgb(255, 0, 0);
    height: 40vh;
}
.table-container{
    height: 25vh;
    display:inline-flex;
    /* flex-direction: row; */
    justify-content: space-evenly;
    background-color: rgb(255, 255, 255);
    margin-left: 2vh;
    color: rgb(105, 105, 105);
}
.table-layout1{
    margin-left: 3em;
    height: 20vh;
    width: 17.5vw;
    background-color: rgb(216, 216, 216);
    font-size: 3vh;
}
.table-layout h2{
    font-size: 5vh;
    text-align: left;
    margin-left: 27vh;
}